<div id="general-product-details" class="row">
    <div id="product-title" class="h4"></div>
    <div><img id="product-img" src="" alt="" class="rounded" width="80%"></div>
    <div id="price-current" class="h5" style="color: orangered"></div>
    <div>
        <span></span>
    </div>
</div>